<!DOCTYPE html>
<html lang="en">
<head>
	<title>Page Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
	
</head>
<body>
	<div class="container mt-5">
		<div class="row">
			<!-- Item Image Column -->
			<div class="col-md-6 item-image">
				<img src="{{item_data.image}}" alt="{{item_data.name}}" class="img-fluid">
			</div>
	
			<!-- Item Attributes Column -->
			<div class="col-md-6 item-attributes">
				<h1 class="mb-4">Name: {{item_data.name}}</h1>
	
				<h2 class="mb-4">Description: {{item_data.description}}</h2>
	
				<h3 class="mb-4">Price: {{item_data.price}}</h3>
	
				<h3 class="mb-4">Seller: {{item_data.seller}}</h3>
	
				{% if item_data.type == "clothing"%}
					<h3 class="mb-4">Size: {{item_data.size}}</h3>
					<h3 class="mb-4">Color: {{item_data.color}}</h3>
				{% endif %}
	
				{% if item_data.type == "computer_component"%}
					<h3 class="mb-4">Specs: {{item_data.spec}}</h3>
				{% endif %}
	
				{% if item_data.type == "monitor"%}
					<span class="label mb-3">Monitor</span>
					<h3 class="mb-4">Specs: {{item_data.spec}}</h3>
	
				{% endif %}
	
	
				<h3 class="mb-4">Average Rating: {{avg_rating}}</h3>
	
				<div class="mt-5">
					<h2>Customer Reviews</h2>
					{% for review in reviews %}
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{review.username}} - {{review.rating}}</h5>
								<p class="card-text">{{review.content}}</p>
							</div>
						</div>
					{% endfor %}
					<!-- Review Form -->
					{% if user  %}
						<form action= "/submit_review"method="post">
							<input type="hidden" name="item_id" value="{{ item_data._id }}">
							<label for="rating">Rating:</label>
							<select id="rating" name="rating" style="font-size: 20px; padding: 5px;">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<br><br>
							<label for="review" style="font-size: 20px;">Review:</label>
							<textarea name="content"></textarea>
							<button onclick="submit_review()" type="submit">Send</button>
						</form>
					{% endif %}
					
				</div>
			</div>
		</div>
	</div>
	<!-- Bootstrap JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
