<link rel="stylesheet" href="../static/css/style.min.css">

<html>
  <head>
    <title>Login BuyIn</title>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        background-color: #f2f2f2;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="/login">
      <h1>Login</h1>
      {% if message %}
        <p style="color: {{color}}">{{ message }}</p>
      {% endif %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Login">
      <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
    </form>

    <form method="POST" action="/">
      <div style="text-align: center;"> <!-- Add a div with text-align:center to center the "Go to Homepage" link -->
        <a color="green" href="{{ url_for('index') }}">Go to Homepage.</a>
      </div>
    </form>


  </body>
</html>
