<link rel="stylesheet" href="../static/css/style.min.css">

<html>
  <head>
    <title>Register BuyIn</title>
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 300px;
        height: 200px;
        background-color: #f2f2f2;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <form method="POST" action="/register">
      <h1>Register Buyin</h1>

      {% if message %}
        <p style="color: red">{{ message }}</p>
      {% endif %}

      
      <script>
        const messageElement = document.getElementById('message');
        if (messageElement && messageElement.innerText === 'You successfully registered.') {
          messageElement.style.color = 'green';
        }
      </script>

      
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br>

      <label for="password again">Password Again:</label>
      <input type="password" id="password" name="password2"><br>

      <input type="submit" value="Login">

      <script>
        // handle the form submission
        document.getElementById('register-form').addEventListener('submit', function(event) {
            event.preventDefault();
            fetch('/register', {
                method: 'POST',
                body: new FormData(event.target)
            })
            .then(response => response.json())
            .then(data => {
                // update the message field
                document.getElementById('message').textContent = data.message;
                // redirect to the login page after 2 seconds
                setTimeout(() => {
                    window.location.href = '/login';
                }, 2000);
            })
            .catch(error => {
                console.error(error);
            });
        });
      </script>


    </form>
  </body>
</html>
