<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-4">
          <img width = 200 heigth="auto" src="https://w7.pngwing.com/pngs/685/886/png-transparent-computer-icons-scalable-graphics-user-profile-deamon-icon-cdr-monochrome-boss.png" alt="Profile Picture" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
          <h2>{{user_data.username}}</h2>
          <p>Average Rating: 4.5</p>
          <p>Reviews:</p>
          <ul>
            <li>Great user, very responsive!</li>
            <li>Would definitely recommend this user!</li>
            <li>Excellent work and communication!</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>